# Файлы с паролями и ключами
.env
keys.env
secrets.txt
*.env
*.key
*.pem

# База данных
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db